{% extends 'portal/base.html' %}

{% block page_content %}
{% include 'portal/header.html' %}
{% if notification %}
<div class="alert alert-success">
    <p>{{ notification }}</p>
</div>
{% endif %}
<div class="container">
<div class="page-header">
  <h5>Administrator Portal for {{ school }}</h5>
</div>
<div class="row">
    <div class="col s12">
        {% if professors %}
            <h6>Professors</h6>
            <ul>
            {% for professor in professors %}
                <li>
                    {{ professor.user.username }}
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>There are currently no professors registered.</p>
        {% endif %}
    </div>
</div>
<div class="row">
    <div class="col s12">
        {% if professors_awaiting_approval %}
            <h6>Professors awaiting approval</h6>
            <ul>
            {% for professor in professors_awaiting_approval %}
                <li>
                    {{ professor.user.username }}
                    <form style="display:inline-block" action="{% url 'activate_professor' professor.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" value="Approve account">
                    </form>
                </li>
            {% endfor %}
            </ul>
        {% else %}
            <p>There are currently no professors awaiting approval.</p>
        {% endif %}
    </div>
</div>
</div>
{% endblock %}