  html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
  }

body {
    background: white;
    font-family: "arial";
}


nav ul a{
	color:black !important;
}

.brand-logo a{
	color:black;
	text-decoration:none;
}


h6{
	font-size:15pt;
}

.navbar{
	background-color:#e0f7fa;
}

.container{
	margin-top:50px;
}

.page-header h5{
	font-weight:bold;
}